*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
}
.container__all{
    position: relative;
    right: 0;
    transition: all 300ms;
}
header{
    width: 100%;
    height: 100px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
   
}
.move_content{
    right: 180px;
}
.container__header{
    max-width: 1200px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    background-color: rgb(255, 255, 255);
    padding: 0px 20px;
}
header .logo{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    width: 150px;
}

.container__nav{
    position: relative;
    height: 100%;
}
nav{
    height: 100%;
}
nav ul{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav ul li{
    margin: 0px 20px;
    list-style: none;
}



nav ul li a{
    color: rgb(80, 68, 68);
    font-size: 14px;
}


.btn__menu{
    width: 50px;
    height: 50px;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: 300ms;
    display: none;
}

.btn__menu:hover{
    background: rgb(234, 250, 209);

}




.select{
    background-color: rgb(251, 227, 250);
    padding: 10px 30px;
    color: rgb(60, 59, 61);
    border-radius: 20px;
}
 

.cover{
    width: 100%;
    padding-bottom: 60px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 100px;
}
.container__cover{
    max-width: 1200px;
    margin: auto;
    padding: 60px;
    display: flex;
    justify-content: space-between;
    position: relative;
    background-color: rgba(187, 211, 248, 0.856);
    background-image: url(./imagenes/efecto-polvo-1.png);
}
.cover .container__info{
    max-width: 400px;
    margin-top: 40px;
    z-index: 2;
}
.cover h1{
    max-width: 300px;
    font-size: 30px;
    font-weight: 900px;
    color: rgb(122, 122, 122);
    
}
.cover h2{
    font-size: 40px;
    font-weight: 900px;
    color: rgb(123, 5, 156);
    margin-top: -10px;
}

.cover p{
    margin-top: 10px;
    color: rgb(42, 42, 42);
    
}
.cover input[type= "button"]{
    padding: 10px 40px;
    margin-top: 40px;
    font-size: 18px;
    font-weight: 1600;
    border: none;
    color: rgb(64, 63, 63);
    background-color: rgba(229, 194, 194, 0.964);
    border-radius: 20px;
    box-shadow: 1px 1px 30px -5px rgb(253, 252, 254);
    cursor: pointer;
}
.container__vector{
    position: relative;
}
.container__vector img{
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 430px;
    animation: move_vector 6s ease-in-out infinite;
    transition: all 300ms;
}
@keyframes move_vector {
    0%{
        transform: translateY(10px);
    }
    10%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(10px);
    }
}
@media  screen and (max-width: 920px) {
    .container__vector img{
        width: 400px;
    }

}

@media screen and (max-width: 760px){
    .container__nav{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .btn__menu{
        display: flex;
    }
    nav{
        height: 100%;
        background: rgb(252, 252, 252);
        position: fixed;
        top: 0;
        right: -180px;
        padding: 0 40px;
        transition: all 300ms;
    }
    .move_nav{
        right: 0px;
    }
    nav ul{
        flex-direction: column;
    }
    nav ul li{
        margin: 20px 0px;
    }
    .container__vector img{
        transform: scale(0);
        animation: none;
    }
}


section{
    background-color: rgb(255, 255, 255);
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    justify-content: space-between;
    position: relative;
   }

.title{
    font-size: 30px;
    font-family: 'Arima', cursive;
   
}
.parrafo__section{
    font-size: 20px;
    line-height: 30px;
}
.profile-info {
    margin-bottom: 25px;
  }
  
  .profile-img {
    width: 50%;
    max-width: 300px;
    box-shadow: 0 2px 2px rosybrown(0,0,0,0.2);
        
  }
  
  .profile-img-section {
    position: relative;
  }
  
  .profile-img-line {
    background-color: var(--secundary-color);
    height: 15px;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
  }
  
  .profile {
    text-align: center;
  }
  
  .profile-title {
    font-size: 25px;
    font-weight: bold;
    margin: 0;
    color: rgb(168, 168, 161);
      font-family:'Arima', cursive;
  }
  
  .profile-details {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.3;
    max-width: 450px;
    margin: 20px 10px auto;
  }
  
  .profile-btn {
    background-color: var(--primary-color);
    color: var(--text-color-inverse);
    border: none;
    font-size: 20px;
    padding: 0.5em 1em;
    border-radius: 7px;
    cursor: pointer;
  }
  
  .profile-btn:hover {
    filter: brightness(130%);
  }
  
  @media (min-width: 950px) {
    .profile-info {
      margin-bottom: 0px;
    }
    
    .profile-img {
      width: 100%;
      max-width: 350px;
      transform: scaleX(-1);
    }
    
    .profile {
      text-align: left;
      display: flex;
      justify-content: space-between;
      max-width: 980px;
      margin: 0 auto;
      align-items: center;
    }
    
    .profile-title {
      font-size: 35px;
      color: rgb(154, 154, 154);
      font-family:'Arima', cursive;
    }
    
    .profile-details {
      font-size: 25px;
      margin: 30px 0;
    }
    
    .profile-btn {
      font-size: 28px;
    }
  }
  .imagen img {
    width: 85%;
    border-radius: 15px;
    
    
 }
 .elegirnos{
    color: #504f4f;
    font-family: serif;
    font-size: 30px;
 }
 b{
    font-size: 35px;
    color: #b383ac;
 }
 .imagen{
    width: 110vw;
    max-width: 1000px;
    min-width: 320px;
    margin: auto;
    text-align: center;
 }
 
 footer{
    width: 100%;
    background: #ffffce;
    color: rgb(110, 109, 109);   
    
}

.container-footer-all{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 40px;
}

.container-body{
    display: flex;
    justify-content: space-between;
}

.colum1{
    max-width: 400px;
}

.colum1 h1{
    font-size: 22px;
}

.colum1 p{
    font-size: 14px;
    color: #464646;
    margin-top: 20px;
}

.colum2{
    max-width: 400px;
    
}

.colum2 h1{
    font-size: 22px;
}

.row{
    margin-top: 20px;
    display: flex;
}

.row img{
    width: 36px;
    height: 36px;
}

.row label{
    margin-top: 10px;
    margin-left: 20px;
    color: #C7C7C7;
}

.colum3{
    max-width: 400px;
}

.colum3 h1{
    font-size: 22px;
}

.row2{
    margin-top: 20px;
    display: flex;
}

.row2 img{
    width: 36px;
    height: 36px;
}

.row2 label{
    margin-top: 10px;
    margin-left: 20px;
    max-width: 140px;
}

.container-footer{
    width: 100%;  
    background: #f8f3f3;
}

.footer{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;  
    padding: 20px;
}

.copyright{
    color: #C7C7C7;
}

.copyright a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.information a{
    margin: 15px;
    text-decoration: none;
    color: #3b3b3b;
}


@media screen and (max-width: 1100px){
    
    .container-body{
        flex-wrap: wrap;
    }
    
    .colum1{
        max-width: 100%;
    }
    
    .colum2,
    .colum3{
        margin-top: 40px;
    }
     }